openroll.pro.user
*.o
installer/packages/com.barkersoftware.openroll/data/*
*.exe
*.obj
GPATH
GRTAGS
GTAGS
compile_commands.json
HTML/
debug/
release/
x64/
Makefile*
.vs/
.qmake.stash
ui_*
*.log
.clangd/
.vscode/
*.sublime-*
tmp/
openroll_resource.rc
CMakeFiles/
openroll_autogen/
cmake_install.cmake
CMakeCache.txt
openroll_plugin_import.cpp
openroll.ilk
openroll.pdb
openroll.pro.*
object_script.*
log.txt.DS_Store
.DS_Store
build/
CMakeLists.txt.user
build-*/
