openroll.pro.user
*.o
installer/packages/com.barkersoftware.openroll/data/*
*.exe
*.obj
GPATH
GRTAGS
GTAGS
compile_commands.json
HTML/
debug/
release/
x64/
Makefile*
openroll.*
.vs/
.qmake.stash
ui_*
*.log
